/*
#floater {
    float: left;
    width: 100%;
    height: 100%;
    background-color:#50FFFFFF;
}
*/

#content{
    /* nothing */
    float: left;
    width: 100%;
    height: 100%;
    background-color:#50FFFFFF;
    /* margin: top right bottom left */
    padding : 50px 20px 10px 20px;
}

/*
#dialog-bg {
    position:absolute;
    width: 100%;
    height: 100%;
    //background-color: gray;
    //background-color: #808080;
    //background-color: rgb(255, 255, 255);
}
*/

/*
#dialog-bg {
    opacity: 0.5;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    //background-color: #808080;
    //background-color: rgb(255, 255, 255);
}
*/


#dialog-body {
    opacity: 1.0;
    position:absolute;
    width:550px;
    /*height:300px;*/

    top:20%;
    left:50%;
    /*margin-top:50px;*/
    margin-left:-275px;
    background-color: white;
     /*margin-left: auto;*/
     /*margin-right: auto;*/
     /*width: 400px;*/
}


/* 表格的列头一行 */
#tb_question th{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#ffffff;
}

/* 表格的奇数行 */
#tb_question tr.odd td
{
    color:#000000;
    background-color:#FFFFFF;/* 白色 */
}

/* 表格的偶数行 */
#tb_question tr.even td
{
    color:#000000;
    background-color:#EAF2D3;/* 墨绿色 */
}

/* 卡片的标题 */
#card_question h1
{
     color:#259
}

/* 卡片的描述 */
#card_question h2
{
    color:#999
}

/* 卡片的描述 */
#card_question h5
{
    color:#999
}