#floater {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#50FFFFFF;
}

#layout {
    /*position:absolute;*/
}

#dialog {
    opacity: 0.5;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    /*background-color: #808080;*/
    /*background-color: rgb(255, 255, 255);*/
}

#dialog-body {
    opacity: 1.0;
    position:absolute;
    width:550px;
    height:300px;

    top:20%;
    left:50%;
    /*margin-top:50px;*/
    margin-left:-275px;
    background-color: white;
     /*
        margin-left: auto;
        margin-right: auto;
        width: 400px;
     */
}