#floater {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#50FFFFFF;
}

#layout {
    /*position:absolute;*/
}

#dialog-bg {
    position:absolute;
    width: 100%;
    height: 100%;
    /*background-color: gray;*/
    /*background-color: #808080;*/
    /*background-color: rgb(255, 255, 255);*/
}

#dialog-bg {
    opacity: 0.5;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
    /*background-color: #808080;*/
    /*background-color: rgb(255, 255, 255);*/
}

#dialog-body {
    opacity: 1.0;
    position:absolute;
    width:550px;
    height:300px;

    top:20%;
    left:50%;
    /*margin-top:50px;*/
    margin-left:-275px;
    background-color: white;
     /*
        margin-left: auto;
        margin-right: auto;
        width: 400px;
     */
}

/* 表格的列头一行 */
#tb_question th{
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#ffffff;
}

/* 表格的奇数行 */
#tb_question tr.odd td
{
    color:#000000;
    background-color:#FFFFFF;/* 白色 */
}

/* 表格的偶数行 */
#tb_question tr.even td
{
    color:#000000;
    background-color:#EAF2D3;/* 墨绿色 */
}

/* 错误色 */
#tip_error {
    color:#000000;
    background-color:#FF0000;
}

/* 警告色 */
#tip_warning {
     color:#000000;
     background-color:#FFFF00;
}

/* 信息色 TODO 色彩没确认 */
#tip_info {
     color:#000000;
     background-color:#00FF00;
}

/* 罗嗦色 TODO 色彩没确认 */
#tip_verbose {
     color:#000000;
     background-color:#00FF00;
}